<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="index.php">
        <box-icon name='bed' type='solid' color='#ffffff' ></box-icon>
          Bed&Brekko
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                {% for item in menu %}
                    <li class="nav-item">
                        <a href="{{ item.href }}" class="nav-link contact {% if item.active %}active{% endif %}">{{item.text}}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>